@media only screen and (max-width: 250px)
{
    html
    {
        font-size: 4px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 300px)
{
    html
    {
        font-size: 4px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 350px)
{
    html
    {
        font-size: 4px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 400px)
{
    html
    {
        font-size: 5px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 450px)
{
    html
    {
        font-size: 5px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 500px)
{
    html
    {
        font-size: 5px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}
@media only screen and (max-width: 550px)
{
    html
    {
        font-size: 5px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}